.typecolor{
    color:rgb(80, 79, 79)
}
 .social{
    max-width: 200px;
    margin-top: 5rem;
 }
 .welcome{
    color:darkgrey;
 }
 .name{
    
 }
 
 .namecol{
    color:rgb(236, 74, 128)
 }
 .man{
    width: 100%;
    margin-top: 5rem;
    position: relative;
    animation-name: example;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse;  
    animation-timing-function: linear;
  }
  
  @keyframes example {
    0%   { top:0;}
    25%  { top:25px;}
    50%  { top:50px;}
    75%  { top:75px;}
    100%  {top:100px;}


  }